@import 'variables';
.navbar {
    background-color: #61c2ef;
    width: 100%;
    padding: 12px;
    &-heading {
        color: $text-color-primary;
        font-weight: bolder;
        font-size: 3em;
        cursor: pointer;
        width: fit-content;
    }
    &-menu {
        &-button {
            border-radius: 80%;
        }
    }
}